.GameMaze {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: transparent;
  position: relative;
  top: 5vh;
  transition: width 0.25s ease, height 0.25s ease;
}
